.side-menu{
  background-image: linear-gradient(190deg,#827E7E, #827E7E);
}
nav ul li{
  display: block ;
  padding: 12px;
  color:  #fff;
  text-decoration: none;
  position: relative;
  font-family: 'Noto Sans TC',sans-serif;
}
nav ul li+li::before{
  content: '';
  position: absolute;
 
  left: 10px;
  right: 10px;
  top: 0;
}
nav ul li .fas{
  margin-right: -1.1em;
  transform: scale(0);
  transition: .5s;
}
nav ul li .side-menu-active {
  color: #F99C1C;
}
nav ul li:hover .fas{
  color: #F99C1C;
  margin-right: 0.3em;
   transform: scale(1);
}